---
import ResponsiveImage from './ResponsiveImage.astro';
import { titleCase } from '../lib/format';
import type { Project } from '../lib/content';

interface Props {
  projects: Project[];
}

const { projects } = Astro.props;
if (!projects.length) return null;
---

<section class="sec cs-related">
  <div class="container">
    <div class="lbl rv">Related work</div>
    <h2 class="sh2 rv">More <em>programmes</em></h2>
    <div class="pg2 rv">
      {projects.map((proj) => (
        <a href={`/projects/${proj.slug}`} class="proj-card-link">
          <div class="pc2">
            <div class="pc2-bar"></div>
            <ResponsiveImage src={proj.heroImage} alt={proj.title} sizes="(max-width:767px) 100vw, 33vw" width={800} height={600} />
            <div class="pc2-veil"></div>
            <div class="pc2-info">
              <div class="pc2-cat">{titleCase(proj.category)}</div>
              <div class="pc2-name">{proj.title}</div>
              <div class="pc2-loc">{proj.location}</div>
            </div>
          </div>
        </a>
      ))}
    </div>
  </div>
</section>
